<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GARMCO.AMS.B2B.Admin.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GARMCO.AMS.B2B.Admin.DAL.Properties.Settings.GRMB2BAdminDBConnectionString"
            connectionString="Data Source=GRMENT01;Initial Catalog=GRMB2BAdminDB_new;User ID=b2badminuser;Password=b2badminpwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <GARMCO.AMS.B2B.Admin.DAL.Properties.Settings>
            <setting name="GARMCO_AMS_B2B_Admin_DAL_GrmEmployeeWebService_Employee"
                serializeAs="String">
                <value>http://grmgap01:8080/Employee.asmx</value>
            </setting>
        </GARMCO.AMS.B2B.Admin.DAL.Properties.Settings>
    </applicationSettings>
</configuration>